.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  flex-basis: 0;
  max-height: 130px;
  height: 100px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column:hover {
  background-color: var(--blue);
  color: var(--white);
}
.column:hover span {
  display: none;
}
.column:hover:after {
  content: 'View List';
  cursor: pointer;
}
